.ant-layout-header {
  height: 61px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: #001529;
  /* margin-left: 15px; */
}

.wrapper {
  width: 80%;
  display: table;
  margin: auto;
}

.site-card-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-card-wrapper .ant-card {
  margin-top: 30px;
}
